@using ProjectBranchSelector.Models;
@model TreeModel
@{
    ViewData["Title"] = "Описание дерева";
}

<div class="container">
    <h4>@ViewData["Title"]</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FormulaId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FormulaId)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Редактировать", "Edit", new { id = Model.Id }, new { @class = "btn btn-dark" }) |
    @Html.ActionLink("Просмотр дерева", "Index", "TreeItem", new { id = Model.Id }, new { @class = "btn btn-dark" }) |
    @Html.ActionLink("История", "Index", "TreeHistory", new { id = Model.Id }, new { @class = "btn btn-dark" }) |    
    <a asp-action="Index" asp-controller="Home">Вернуться</a>
</div>

@section Scripts {
    <script src="~/js/project_details.js" asp-append-version="true"></script>

}